<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xi.fmcs.domain.community.repository.BoardARepository">

  <!-- 공공게시판 목록 -->
  <select id="XI_SP_FMCS_ADMIN_BOARDA_L" statementType="CALLABLE"
          parameterType="hashMap" resultType="BoardADto">
    { CALL
      XI_SP_FMCS_ADMIN_BOARDA_L(
        #{@GROUP_SEQ, 	mode=IN,	jdbcType=INTEGER},
        #{@SAVE_YN, 	mode=IN,	jdbcType=VARCHAR},
        #{@SRCH_TXT, 	mode=IN,	jdbcType=VARCHAR},
        #{@SRCH_START_DT, 	mode=IN,	jdbcType=VARCHAR},
        #{@SRCH_END_DT, 	mode=IN,	jdbcType=VARCHAR},
        #{@PAGE_NUM, 	mode=IN,	jdbcType=INTEGER}
      )
    }
  </select>

  <!-- 공공게시판 상세 -->
  <select id="XI_SP_FMCS_ADMIN_BOARDA_R" statementType="CALLABLE"
          parameterType="hashMap" resultType="BoardADto">
    { CALL
      XI_SP_FMCS_ADMIN_BOARDA_R(
        #{@SEQ, 	mode=IN,	jdbcType=INTEGER}
      )
    }
  </select>

  <!--공공게시판 수정-->
  <update id="XI_SP_FMCS_ADMIN_BOARDA_U" statementType="CALLABLE" parameterType="hashMap">
    { CALL
      XI_SP_FMCS_ADMIN_BOARDA_U(
        #{@SEQ, 	mode=IN,	jdbcType=INTEGER},
        #{@WRITER_NICKNM,	mode=IN,	jdbcType=VARCHAR},
        #{@WRITER_NM, 	mode=IN,	jdbcType=VARCHAR},
        #{@TITLE, 		mode=IN,	jdbcType=VARCHAR},
        #{@CONTENTS, 		mode=IN,	jdbcType=VARCHAR},
        #{@SAVE_YN, 		mode=IN,	jdbcType=VARCHAR},
        #{@TOP_YN, 		mode=IN,	jdbcType=VARCHAR},
        #{@ADMIN_SEQ, 		mode=IN,	jdbcType=INTEGER}
      )
    }
  </update>

  <!--공공게시판 등록-->
  <insert id="XI_SP_FMCS_ADMIN_BOARDA_C" statementType="CALLABLE" parameterType="hashMap">
    { CALL
      XI_SP_FMCS_ADMIN_BOARDA_C(
        #{@GROUP_SEQ, 	mode=IN,	jdbcType=INTEGER},
        #{@WRITER_NICKNM,	mode=IN,	jdbcType=VARCHAR},
        #{@WRITER_NM, 	mode=IN,	jdbcType=VARCHAR},
        #{@TITLE, 		mode=IN,	jdbcType=VARCHAR},
        #{@CONTENTS, 		mode=IN,	jdbcType=VARCHAR},
        #{@SAVE_YN, 		mode=IN,	jdbcType=VARCHAR},
        #{@TOP_YN, 		mode=IN,	jdbcType=VARCHAR},
        #{@ADMIN_SEQ, 		mode=IN,	jdbcType=INTEGER}
      )
    }
  </insert>

  <!--공공게시판 삭제-->
  <delete id="XI_SP_FMCS_ADMIN_BOARDA_D" statementType="CALLABLE" parameterType="hashMap">
    { CALL
      XI_SP_FMCS_ADMIN_BOARDA_D(
        #{@SEQ, 	mode=IN,	jdbcType=INTEGER},
        #{@ADMIN_SEQ, 		mode=IN,	jdbcType=INTEGER}
      )
    }
  </delete>
</mapper>