<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xi.fmcs.domain.community.repository.BoardERepository">

  <!--한줄게시판 목록-->
  <select id="XI_SP_FMCS_ADMIN_BOARDE_L" statementType="CALLABLE"
          parameterType="hashMap" resultType="BoardEListDto">
    { CALL
      XI_SP_FMCS_ADMIN_BOARDE_L(
        #{@GROUP_SEQ, 	mode=IN,	jdbcType=INTEGER},
        #{@SRCH_DONG, 	mode=IN,	jdbcType=VARCHAR},
        #{@SRCH_HO, 	mode=IN,	jdbcType=VARCHAR},
        #{@SRCH_TXT, 	mode=IN,	jdbcType=VARCHAR},
        #{@SRCH_START_DT, 	mode=IN,	jdbcType=VARCHAR},
        #{@SRCH_END_DT, 	mode=IN,	jdbcType=VARCHAR},
        #{@PAGE_NUM, 	mode=IN,	jdbcType=INTEGER},
        #{@PAGE_SIZE, 	mode=IN,	jdbcType=INTEGER}
      )
    }
  </select>

  <!--한줄게시판 수정-->
  <update id="XI_SP_FMCS_ADMIN_BOARDE_U" statementType="CALLABLE" parameterType="hashMap">
    { CALL
      XI_SP_FMCS_ADMIN_BOARDE_U(
        #{@SEQ, 	mode=IN,	jdbcType=INTEGER},
        #{@CONTENTS,	mode=IN,	jdbcType=VARCHAR},
        #{@WRITER_NICKNM,	mode=IN,	jdbcType=VARCHAR},
        #{@WRITER_NM,	mode=IN,	jdbcType=VARCHAR},
        #{@ADMIN_SEQ, 		mode=IN,	jdbcType=INTEGER}
      )
    }
  </update>

  <!--한줄게시판 저장-->
  <insert id="XI_SP_FMCS_ADMIN_BOARDE_C" statementType="CALLABLE" parameterType="hashMap">
    { CALL
      XI_SP_FMCS_ADMIN_BOARDE_C(
        #{@GROUP_SEQ, 	mode=IN,	jdbcType=INTEGER},
        #{@CONTENTS,	mode=IN,	jdbcType=VARCHAR},
        #{@WRITER_NICKNM,	mode=IN,	jdbcType=VARCHAR},
        #{@WRITER_NM,	mode=IN,	jdbcType=VARCHAR},
        #{@ADMIN_SEQ, 		mode=IN,	jdbcType=INTEGER}
      )
    }
  </insert>

  <!--한줄게시판 삭제/회원글 보관함이동/회원글복원  -->
  <delete id="XI_SP_FMCS_ADMIN_BOARDE_D" statementType="CALLABLE" parameterType="hashMap">
    { CALL
      XI_SP_FMCS_ADMIN_BOARDE_D(
        #{@SEQ, 	mode=IN,	jdbcType=INTEGER},
        #{@DEL_TYPE, 	mode=IN,	jdbcType=VARCHAR},
        #{@ADMIN_SEQ, 		mode=IN,	jdbcType=INTEGER}
      )
    }
  </delete>

</mapper>